In [0]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("tutorials").getOrCreate()

Collecting pyspark
  Using cached pyspark-3.5.1-py2.py3-none-any.whl
Collecting py4j==0.10.9.7
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/local_disk0/.ephemeral_nfs/envs/pythonEnv-edf702eb-0ed4-4350-aee4-f409061bbdb3/bin/python -m pip install --upgrade pip' command.

In [0]:
df=spark.read.csv("/FileStore/tables/PySparkTutoria/sample4.csv", inferSchema=True, header=True)
df.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|   Subham| 23|         2| 18000|
+---------+---+----------+------+

In [0]:
# Filtering Data where Experience is more than or equal to 4
df.filter("Experience >= 4").show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
+---------+---+----------+------+

In [0]:
# Filtering Data and show only the Name and Age where Experience is more than or equal to 4.
df.filter("Experience >= 4").select(['Name','Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [0]:
# Another way to Filter Data where Experience is more than or equal to 4
df.filter(df['Experience']>=4).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
+---------+---+----------+------+

In [0]:
# Another way to Filter Data and show only name and age where Experience is more than or equal to 4
df.filter(df['Experience']>=4).select(['Name','Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [0]:
# Using And Operation
# Show the Names of those people who have more than or equal to 4 years of experience and earns more than or equal to 30000
df.filter((df['Experience']>=4)&
          (df['Salary']>=30000)).select(['Name']).show()

+-----+
| Name|
+-----+
|Krish|
+-----+

In [0]:
# Using Or Operation
# Show the Names of those people who have more than or equal to 4 years of experience or earns more than or equal to 30000
df.filter((df['Experience']>=4) |
          (df['Salary']>=30000)).select(['Name']).show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+

In [0]:
# Filtering Data where Experience is NOT more than or equal to 4
df.filter(~(df['Experience']>=4)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|Subham| 23|         2| 18000|
+------+---+----------+------+